@tailwind base;

:root {
  --primary: #164e63;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 30px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 30px;
  height: 10px;
}

@tailwind components;
@tailwind utilities;
